#outside {
 
 z-index: 1;

  position: absolute;

  background-color:#ea1010;
 
 width: 100%;
  
height: 100%;

  text-align: center;

  transition: 1s;

  transform-origin: 0;

}


body {
   overflow:hidden;
}

.open-card {
  
transform: rotateY(90deg);

}


#outside-title {
 
 color: black;

  font-family: Courier;

  font-size: 50pt;

  text-align: center;

}


#outside-pic {

  width: 650px;
  
height: 320px;

}


#outside-help {
 
 color: black;

  font-family: Courier;

  font-size: 12pt;
 
 text-align: center;
 
 padding: 20px;

}


#inside {

  z-index: 0;
 
 position: absolute;
  
background-color: #d01a46;
 
 width: 100%;

  height: 100%;
 
 text-align: center;

}


#inside-title {
  
color: #ccda11;

  font-family: Courier;
 
 font-size: 30pt;
 
 text-align: center;

}


#inside-pic {

  width: 645px;
 
 height: 350px;

}


#message {

  color: #39bbda;

  font-family: Courier;

  font-size: 14pt;

  text-align: center;

}


button {
 
 background:      rgb(226, 251, 32);

}
